footer {
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer-logo {
    height: 1.7vw;
    margin-right: 1vw;
}
.footer-div {
    padding: 1.7vw 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
footer p{
    font-size: 1.5vw;
    margin-block-start: 0;
    margin-block-end: 0;
}